<body>
     
  <div> 
  <img src="assets/logo.png" class="h2"/>
  </div>
  <div class="t1">Products</div>
  <div class="t2">Solutions</div>
  <div class="t3">Pricing</div>
  <div><button class="b1">Login</button></div>
  <div><button class="b2">Get Started</button></div>
  <img src="assets/circle.png" class="h4" />
  
<div id="container">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
      <div class="h7">We Make it Super Simple</div>
      <br>
      <hr class="l2">
      <br>
      <img src="assets/blob-small.png" class="h3" />
      
      <img src="assets/accounting-dots.png" class="h5" />
      <img src="assets/img-video.png" class="h1"/>
      <img src="assets/accounting-dots.png" class="h6" />
      <img src="assets/wave.png" class="m1" />
  <div>
     <img src="assets/quick-cash.png" class="r1" />
     <img src="assets/get-paid.png" class="s1" />
     <div id="t4">Quick cash disbursement</div>
     <div id="t5">Get terms loans that your buisness needs within 72 hrs</div>
  </div>
  <div>
     <img src="assets/zero-paper.png" class="r2" />
     <img src="assets/low-in.png" class="s2" />
     <div id="t6">Low interest-rate</div>
     <div id="t7">Achieve your financial goals with an amazing inetrest rate starting at 13% per annum </div>
  </div>
  <div>
    <img src="assets/Rectangle.png" class="r3" />
    <img src="assets/picture.png" class="s3" />
    <div id="t8">Lons to fight COVID-19</div> 
    <div id="t9">Zero EMI for fisrt 3 months on Back-to-Buisness loans of upto 1 lakh</div>
  </div>
  <div>
    <img src="assets/Rectangle.png" class="r4" />
    <img src="assets/Secure.png" class="s4" />
    <div id="t10">Zero Paperwork</div>
    <div id="t11">Get started instantly by submitting only your basic details and bank statements</div>

  </div>
  <div>
    <img src="assets/buisness-fin.png" class=r5 />
    <img src="assets/pc.png" class="s5" />
    <div id="t12">Ace your buisness finances</div>
    <div id="t13">Manage banking, accounting & everything in between, on one plateform</div>

  </div>
  <div id="t14">Boost Your Buisness With Open</div>
  <div id="l1">

  </div>
  <div id="t15">Get your hands on a term loan that's crafted for your buisness</div>
  <div ><button class="b3">Get an Open Account</button></div>
  
<div>
<img src="assets/emi.png" class="a1" />
</div> 

</div>


  
</body>
